/*----- GENERAL STYLES -----*/
body {
  background-color: #f6f6f6;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.nav-container {
  background-color: white;
}

a,
button {
  transition-duration: 0.5s;
}

a:hover,
button:hover {
  opacity: 0.8;
}

li {
  list-style: none;
}

button:focus {
  outline: none;
}

/*----- TOP BAR -----*/
header {
  background: url("../../assets/header-bcg.jpg") center no-repeat;
  height: 900px;
}

#top-bar,
#top-bar i {
  background-color: #27282d;
  color: #929292;
  letter-spacing: 2px;
  font-weight: 300;
}
#top-bar #top-bar-left span,
#top-bar i #top-bar-left span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
}
#top-bar #top-bar-left i,
#top-bar i #top-bar-left i {
  border-right: 1px solid #929292;
  padding: 13px 15px;
  font-size: 0.875em;
}
#top-bar #top-bar-left a:hover,
#top-bar i #top-bar-left a:hover {
  opacity: 0.5;
}
#top-bar #top-bar-right span,
#top-bar i #top-bar-right span {
  font-family: helvetica;
  font-size: 0.75em;
  padding-right: 10px;
}
#top-bar #top-bar-right button,
#top-bar i #top-bar-right button {
  color: white;
  background-color: #f2951e;
  text-transform: uppercase;
  width: 8.25em;
  height: 40px;
  border: none;
  font-size: 0.75em;
  font-family: helvetica;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 300;
}

/*----- NAV -----*/
nav {
  text-transform: uppercase;
  background-color: white;
  padding: 35px 0 !important;
}
nav .navbar-brand img {
  width: 134px;
}
nav .navbar-collapse {
  font-family: helvetica;
  font-size: 0.9375em;
  font-weight: 300;
  letter-spacing: 2px;
}
nav .navbar-collapse .navbar-nav {
  width: 100%;
  justify-content: space-between;
}
nav .navbar-collapse .nav-link {
  color: #929292 !important;
}
nav .navbar-collapse .nav-link:hover {
  color: #f2951e !important;
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/*----- HEADER MENU -----*/
#header-menu {
  border-top: 1px solid #929292;
}
#header-menu .header-menu {
  margin-top: 5em;
}
#header-menu .header-menu .btn-group {
  height: 9.5625em;
  background-color: #27282d;
  border-top: 1px solid #f2951e;
}
#header-menu .header-menu .btn-group button {
  border-style: none !important;
  background-color: #27282d;
  border-color: #27282d;
  color: white;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 0.9375em;
}
#header-menu .header-menu .btn-group .btn-group-dropdown {
  margin-top: 3em;
}
#header-menu .header-menu .btn-group .btn-group-dropdown::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background-color: white;
  transition-duration: 0.5s;
}
#header-menu .header-menu .btn-group .btn-group-dropdown:hover::after {
  width: 100%;
}
#header-menu .header-menu .header-btn {
  position: relative;
  margin-top: -1.5em;
}
#header-menu .header-menu .header-btn i {
  margin-right: 0.5em;
}
#header-menu .header-menu .header-btn button:hover {
  opacity: 1;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
#header-menu .header-menu .header-btn button:nth-child(1) {
  color: white;
  background-color: #f2951e;
  text-transform: uppercase;
  width: 15em;
  height: 3.5625em;
  border: none;
  font-size: 0.75em;
  font-family: helvetica;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 300;
}
#header-menu .header-menu .header-btn button:nth-child(2) {
  color: #5d3708;
  background-color: #d48117;
  text-transform: none;
  width: 15em;
  height: 3.5625em;
  border: none;
  font-size: 0.75em;
  font-family: helvetica;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 300;
}

/*----- SECTION ONE -----*/
#section-one {
  background: url("../../assets/road-bcg.jpg") center no-repeat;
}
#section-one .row .col-lg-3,
#section-one .row .col-lg-6 {
  margin-top: 30px;
}
#section-one .row div,
#section-one .row img {
  height: 270px;
}
#section-one .row .pic-container {
  position: relative;
  transition-duration: 0.5s;
}
#section-one .row .pic-container img {
  position: relative;
  width: 100%;
}
#section-one .row .pic-container .bottom-banner {
  position: absolute;
  background-color: #27282d;
  height: 60px !important;
  bottom: 0;
  width: 100%;
  color: white;
  text-transform: uppercase;
  padding-left: 20px;
  letter-spacing: 2px;
  font-size: 0.75em;
  display: table;
}
#section-one .row .pic-container .bottom-banner span {
  vertical-align: middle;
  display: table-cell;
}
#section-one .row .pic-container .car-price {
  background-color: #f2951e;
  width: 73px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 60px;
  font-size: 0.75em;
  font-family: helvetica;
  letter-spacing: 2px;
  font-weight: bold;
  display: table;
}
#section-one .row .pic-container .car-price span {
  vertical-align: middle;
  display: table-cell;
  padding: 2px;
}
#section-one .row .pic-container:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  z-index: 1000;
}
#section-one .last-deals {
  background-color: #f2951e;
  color: white;
  font-family: helvetica;
  position: absolute;
  width: 90%;
}
#section-one .last-deals div {
  width: 50%;
  margin: 0 auto;
}
#section-one .last-deals p {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}
#section-one .last-deals .last {
  font-size: 1.375em;
  letter-spacing: 4px;
}
#section-one .last-deals .last::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 0 auto;
  margin-top: 95px;
  margin-bottom: 20px;
}
#section-one .last-deals .deals {
  font-size: 2em;
  letter-spacing: 5px;
  margin-bottom: 90px;
}
#section-one button {
  color: white;
  background-color: #f2951e;
  text-transform: uppercase;
  width: 13.5em;
  height: 3.5625em;
  border: none;
  font-size: 0.75em;
  font-family: helvetica;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 300;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

/*----- SECTION TWO -----*/
#section-two {
  background: url("../../assets/car-bcg-2.jpg") center no-repeat;
}
#section-two img {
  display: block;
  margin: 0 auto;
  margin-top: 120px;
}
#section-two p {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 4px;
  color: #f8f8f8;
  font-weight: 300;
  font-family: helvetica;
  margin-bottom: 140px;
}
#section-two p:before {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: #f2951e;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*----- SECTION THREE -----*/
#section-three {
  font-family: helvetica;
}
#section-three h1 {
  font-size: 22px;
  letter-spacing: 4px;
  color: #27282d;
  font-weight: bold;
  margin-bottom: 100px;
  text-transform: uppercase;
}
#section-three h1:before {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background-color: #27282d;
  margin-top: 100px;
  margin-bottom: 20px;
}
#section-three .content .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
#section-three ul {
  font-size: 0.75em;
  letter-spacing: 2px;
  line-height: 20px;
  color: #929292;
  font-weight: 300;
  border-left: 1px solid #929292;
}

/*----- FOOTER -----*/
footer {
  margin-top: 100px;
  font-family: helvetica;
  background: url("../../assets/footer-bcg.jpg") center no-repeat;
  padding-bottom: 50px;
}
footer ul {
  font-size: 0.9375em;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}
footer ul li {
  margin-top: 50px;
}
footer ul li a {
  color: #929292;
}
footer ul li a:hover {
  color: #929292;
  text-decoration: none;
}
footer .border-footer {
  background-color: #929292;
  height: 1px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}
footer p {
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 2px;
  color: #929292;
}

/*# sourceMappingURL=style.css.map */
